<h1>Welcome to admin page</h1>

<div class="adminDiv">
	<%= image_tag("client.png", :alt => "client pic") %>
	<h2><%= link_to 'client', clients_path %></h2>
</div>

<div class="adminDiv">
	<%= image_tag("user.png", :alt => "user pic") %>
	<h2><%= link_to 'Users', users_path %></h2>
</div>