<h1> welcome to ODC Visa system </h1>
<div>
	<div class="homeDiv">
	

	<%= image_tag("admin.png", :alt => "admin pic") %>
<h2><%= link_to 'Admin', '/admin' %></h2>
</div>

<div class="homeDiv">
	<%= image_tag("nonAdmin.png", :alt => "nonadmin pic") %>
	<br/><br/>
 <h2><%= link_to 'Non-Admin', '/nonadmin' %></h2>
</div>
</div>
</center>